@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer components {
    .btn-primary {
      @apply py-2 px-4 text-xs bg-orange-500 text-white font-semibold rounded-lg shadow-md hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-400 focus:ring-opacity-75;
    }
  } */


  @layer components {

    * {
        @apply box-border p-0 m-0;
    }

    #label {
        background-image: url('https://images.unsplash.com/photo-1513059260653-32fd11ccc184?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTh8fHBldHJvbGV1bXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=1500');
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }

    .main-event {
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }

    .hero {
        background-size: 300% 300%;
        background-image: linear-gradient(45deg, #CE490E, #EA8258, #7D186B);
        animation: AnimateBG 20s ease infinite !important;
    }

    @keyframes AnimateBG {
        0% {
            background-position: 0% 50%
        }

        50% {
            background-position: 100% 50%
        }

        100% {
            background-position: 0% 50%
        }
    }

    .derrick-container {
        @apply max-w-screen-xl md:px-6 px-4 lg:px-8 w-full mx-auto;
    }

    .fixed-navbar {
        @apply fixed top-0 w-full z-50;
    }

    .event-wrapper {
        @apply rounded-md overflow-hidden hover:scale-105 transition-all cursor-pointer h-fit md:h-80 flex justify-center items-center;
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .event-content {
        @apply z-10 text-center bg-gradient-to-t from-white to-transparent py-10 px-5 h-full w-full;
    }

    input, textarea, trix-editor, .image-form, .radio-form, select {
        @apply bg-white/50 rounded-md !important;
    }

    input, textarea, trix-editor, .radio-form, select {
        @apply py-2 px-4 !important;
    }

    select {
        @apply appearance-none !important;
    }

    fieldset {
        @apply border-2 border-white/50 rounded-md !important;
    }

    .main-heading-2 {
        position: relative;
        font-weight: 700;
        font-size: 18px;
        color: #2E1F2A;
        z-index: 0;
        padding-left: 15px;
        height: 47px;
        margin-bottom: 1.5rem;
        margin-top: 7px;
        margin-left: 7px;
    }

    .main-heading-2::before {
        content: '';
        position: absolute;
        top: -7px;
        left: -7px;
        width: 45px;
        height: 45px;
        border-radius: 0 20px;
        background-color: #EA8258;
    }

    .main-heading-2 span {
        position: relative;
        z-index: 2;
    }

  }
